body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    color: #2C4964;
}

.navbar {
    background-color: #092643 !important;
}


.navbar-dark .navbar-nav .nav-link {
    color: #FFF;
    padding-right: 70px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #FFD973;
}

.dropdown-menu-dark {
    background-color: #FFD973 !important;
    border-radius: 0;
}

.dropdown-item:hover {
    background-color: #FFFFFF !important;
}

.dropdown-menu-dark .dropdown-item {
    padding: 11px 30px;
}

.carousel-caption p {
    font-size: 26px;
    margin-top: 25px;
    font-weight: bold;
}

.search {
    max-width: 482px;
    min-height: 60px;

}

.sectionHeader {
    /*height: 296px;*/
    background-color: #3B80C0;
}

a {
    color: #000;
}

a:hover {
    color: #000;
}

.data {
    color: #585858;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 10px 0;
}

.event-image {
    transition: opacity 300ms;
}

.event-image:hover {
    opacity: 50%;
}
.event-image-wrapper {
    background: black;
}
.targets {
    background-color: #DDEEFE;
    height: 365px;
}

h2 {
    color: #000;
}

.accordion-button:not(.collapsed) {
    color: #000;
    font-size: 18px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #2C4964;
}

.accordion-item {
    border-top: 1px solid #2C4964;
    border-bottom: 1px solid #2C4964;
}

.accordion-button {
    font-size: 18px;
}

.btn {
    background-color: #3B80C0;
    font-size: 18px;
}

.button{
    min-width: 196px;
    min-height: 68px;
}
.btn:hover{
    background-color: #03519A;
}



input::placeholder, textarea::placeholder {
    color: #000000 !important;
}

label {
    color: rgba(0, 0, 0, 0.5);
}
.form-control-text{
    border-color: rgba(0, 0, 0, 0.5);
}
input.form-control{
    border-color: rgba(0, 0, 0, 0.5);
}
.button-contact{
    min-width: 220px;
    min-height: 50px;
}

.footer{
    background-color: #384048;
}

.footer-text {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-sub-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #FFD973;
}

.footer-links {
    color: #6D6F6F;
    font-size: 14px;
}
.footer-links:hover {
    color: #3B80C0;
}
.footer-location{
    color: #FFFFFF;
}
@media (min-width: 1500px) and (max-width:1700px) {
    .Logo {
        width: 300px;
        height: 180px;
    }
    .carousel-caption p {
        font-size: 22px;
        margin-top: 20px;
    }
    .search {
        max-width: 440px;
        min-height: 60px;

    }
}
@media (min-width: 1140px) and (max-width:1500px) {
    .Logo {
        width: 280px;
        height: 168px;
    }
    .carousel-caption p{
        font-size: 18px;
        margin-top: 10px;
    }
    .search {
        max-width: 380px;
        min-height: 55px;

    }
}
@media (min-width: 992px) and (max-width:1140px) {
    .Logo {
        width: 210px;
        height: 126px;
    }
    .carousel-caption p{
        font-size: 18px;
        margin-top: 10px;
    }
    .search {
        max-width: 330px;
        min-height: 45px;

    }
}


@media (min-width: 320px) and (max-width:992px) {
    .Logo {
        width: 200px;
        height: 120px;
    }
    .carousel-caption p{
        font-size: 16px;
        margin-top: 10px;
    }
    .search {
        max-width: 300px;
        min-height: 45px;

    }
}